.section-cta {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #FCD0BA;
}

.cta-wrapper {
    .form {
        justify-content: center;
        margin: 0 auto;
    }
}
.cta {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 90px;
    font-weight: 700;
    line-height: 108px; /* 120% */
    margin-bottom: 46px;
}
